* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "helvetica", sans-serif;
  color: #15394e;
}

.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #15394e;
  display: inline-block;
}

h1 {
  margin: 20px 0;
}

/* buttons style */

form.delete-btn {
  display: inline-block;
  /* input delete buttons reset and style */
}

form.delete-btn input {
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  margin: 10px 0;
  border: 0;
  line-height: 1.2;
  background-color: #c26b5e;
  cursor: pointer;
  font-size: 0.75rem;
}

a.btn {
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #2e7072;
}

a.link {
  text-decoration: underline;
  font-weight: bold;
}

a.link:hover {
  font-weight: bold;
}

.btn,
.link {
  font-size: 0.8rem;
}

form .input-container {
  display: flex;
  flex-wrap: wrap;
}

form input,
form .btn {
  width: 100%;
  line-height: 2;
  padding: 5px;
}

form textarea {
  width: 100%;
  padding: 5px;
}

form .input-field {
  width: 50%;
}

form .input-field-area {
  width: 100%;
}

form .input-field-area .btn {
  border: 0;
  color: white;
}

form .input-field-area .submit {
  cursor: pointer;
  background-color: #2e7072;
}

form .input-field-area .cancel {
  text-align: center;
  background-color: #b9b9b9;
}

form .input-field,
form .input-field-area {
  padding: 0 0.5rem;
  margin-bottom: 20px;
}

form .input-field label,
form .input-field-area label {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
}

.cta-upper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

header {
  border-bottom: 5px solid var(--main-color);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header .logo-container {
  max-width: 50px;
}

header .logo-container img {
  width: 100%;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
}

header nav ul li a:hover {
  background-color: #2e7072;
  color: white;
  transition: 0.3s;
}

header .jumbotron {
  width: 100%;
  height: 250px;
  max-height: 20vh;
}

header .jumbotron img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main {
  padding: 20px 0;
}

main table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

main table tr {
  font-size: 0.75rem;
}

main table thead {
  background-color: #2e7072;
}

main table thead th {
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 3;
}

main table thead th:first-child {
  padding-left: 3px;
}

main table tbody td {
  border-bottom: 1px solid #2e7072;
}

main table tbody td:last-child {
  text-align: right;
}

main .comic-box {
  display: flex;
  justify-content: space-around;
}

main .comic-box ul li {
  line-height: 2;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
}

main .comic-box .cover-container {
  min-width: 200px;
  margin-right: 20px;
}

main .comic-box .cover-container img {
  width: 100%;
}

main .comic-box .desc-box {
  padding: 0 20px;
}

