// COLORS
$main-color: rgb(46, 112, 114); 
$secondary-color: rgb(21, 57, 78); 

$neutral-color-100: white; 
$neutral-color-200: rgb(185, 185, 185); 


$danger-color: rgb(194, 107, 94); 


// FONTS & CO 
$font-family: 'helvetica', sans-serif; 
$font-size: .8rem; 

$line-height: 2; 


// BASE SPACING
$spacing: 20px; 


// ANIMATION TRANSITIONS
$transition: .3s; 


// BTNS & LINKS

$el-font-size: .75rem; 